ul{
	list-style: none;
	background-color:pink;
	width: 500px;
	padding: 0;
	height: 30px;
    line-height:200%;
    padding-top: 3px;}
ul>li{
	margin: 0px;
	display:inline-block;
	width: 100px;
	border-right: 1px gray solid ;
	
}
ul>li:last-child{
	border-width: 0;
}