body {
	background-image: url(../img/bg.jpg);
}
* {
	font-family: Arial;
	font-size: 12px;
}
#header {
	padding-top: 20px;
}
ul{
	list-style-type: none;
}
.sign-bar ul li{
	display: inline-table;
	width: 60px;
	text-align: center;
}
.button {
	background-color: silver;
	border-radius: 5px;
	border: 1px outset black;
}
.button:hover {
	background-color: white;
	color: red;
}
.sign-bar ul:before {
	content: "Zent Group";
	font-size: 20px;
	margin-right: 55%;
	
	font-style: inherit;
}
#menu-bar {
	float: left;
	margin-top: 30px;
	width: 15%;
}
#menu-bar ul li{
	padding-bottom: 15px;
}
#menu-bar ul li:hover{
	font-weight: bold;
	color: blue;
	text-decoration: underline;
}
#main {
	float: right;
	margin-top: 30px;
	width: 80%;
	height: 650px;
}
.content {
	position: relative;
	background-color: white;
	width: 280px;
	height: 175px;
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
	border-radius: 15px;
	overflow: hidden;
}
.content>p {
	font-size: 16px;
	font-weight: bold;
	margin: 5px 0;
	text-indent: 5px;
}
.images {
	background-size: cover;
	background-image: none;
	background-repeat: no-repeat;
	display: flex;
	position: relative;
}
.images:hover{
	background-color: white;
	opacity: 0.3;
}
.transbox {
	opacity: 0.5;
	background-color: black;
	width: 100%;
	height: auto;
	margin-top: 125px;
}
.transbox p {
	color: white;
	font-weight: bold;
	margin: 5px 0;
	text-indent: 10px;
}
#footer ul li{
	display: inline-table;
	padding: 10px;
	text-align: center;
	text-decoration: underline;
	color: blue;
}
#footer ul:before {
	content:"Copyright \00A9  2015 Zent Group";
	margin-right: 50px;
}
.clear {
	clear: both;
}