* {
	font-family: Arial;
	padding: 0;
}

body {
	background-image: linear-gradient(to right,#279EB7,#86252E);
}

ul {
	list-style: none;
}
li {
	cursor: pointer;
}

a {
	color: #fff;
	text-decoration: none;
}

#menu {
	width: 50%;
	position: relative;
	color: #fff;
	left: 60%;
	top: 20px;
	transform: translateX(-60%);

}

#menu > li {
	margin-left: 20px;
	display: inline-block;
	padding: 0 5px;
	line-height: 1.5;
}
#menu > li:after {
	content: '';
	transition: transform 250ms ease-in-out;
	border-bottom: 2px solid #df8045;
	display: block;
	transform: scaleX(0);
	transform-origin: 0% 50%;
}
#menu > li:hover:after{
	transform: scaleX(1);
}
.sub-menu {
	display: none;
	position: absolute;
	top: 26px;
	background-color: #5d5d9b;
	font-size: 0.9em;
}
.sub-menu > li, .sub-sub-menu > li {
	line-height: 2;
	border-top: 1px solid #92929b;
}
.sub-menu > li > a, .sub-sub-menu > li > a {
	margin: 0 10px;
}
.sub-sub-menu {
	display: none;
	position: absolute;
	background-color: #5d5d9b;
	font-size: 0.9em;
	transform: translate(-135px, -29px);
}